---
import accesorios1 from "@data/accesorio.json";
---

<div>
    <p>accesorio1</p>
    <select id="accesorio1Select">
        <option value="">Selecciona una accesorio1</option>
        {
            accesorios1.map((p) => (
                <option
                    value={p.id}
                    data-nombre={p.nombre}
                    data-precio={p.precio}
                    data-stock={p.stockTotal}
                >
                    {p.nombre}
                </option>
            ))
        }
    </select>
</div>

<p>El id es: <span id="accesorio1_id">Ninguno</span></p>
<p>El nombre es: <span id="accesorio1_nombre">Ninguno</span></p>
<p>El precio es: S/.<span id="accesorio1_precio">0</span></p>
<p>El stock es: <span id="accesorio1_stock">0</span></p>

<script type="module">
    document.addEventListener("DOMContentLoaded", () => {
        const accesorio1 = document.getElementById("accesorio1Select");
        const accesorio1Id = document.getElementById("accesorio1_id");
        const accesorio1Nombre = document.getElementById("accesorio1_nombre");
        const accesorio1Precio = document.getElementById("accesorio1_precio");
        const accesorio1Stock = document.getElementById("accesorio1_stock");

        if (
            !accesorio1 ||
            !accesorio1Id ||
            !accesorio1Nombre ||
            !accesorio1Precio ||
            !accesorio1Stock
        )
            return;

        accesorio1.addEventListener("change", (event) => {
            const accesorio1_id = event.target.value;
            accesorio1Id.textContent = accesorio1_id || "Ninguno";

            const selectedOption =
                event.target.options[event.target.selectedIndex];
            const accesorio1_nombre =
                selectedOption.getAttribute("data-nombre") || "Ninguno";
            const accesorio1_precio =
                selectedOption.getAttribute("data-precio") || "0";
            const accesorio1_stock =
                selectedOption.getAttribute("data-stock") || "0";

            accesorio1Nombre.textContent = accesorio1_nombre;
            accesorio1Precio.textContent = parseFloat(accesorio1_precio).toFixed(2);
            accesorio1Stock.textContent = accesorio1_stock;
        });
        accesorio1Nombre.textContent = "Ninguno";
        accesorio1Precio.textContent = "0";
        accesorio1Stock.textContent = "0";
    });
</script>
