---
import fuentes from "@data/fuente.json";
---

<div>
    <p>fuente</p>
    <select id="fuenteSelect">
        <option value="">Selecciona una fuente</option>
        {
            fuentes.map((p) => (
                <option
                    value={p.id}
                    data-nombre={p.nombre}
                    data-precio={p.precio}
                    data-stock={p.stockTotal}
                >
                    {p.nombre}
                </option>
            ))
        }
    </select>
</div>

<p>El id es: <span id="fuente_id">Ninguno</span></p>
<p>El nombre es: <span id="fuente_nombre">Ninguno</span></p>
<p>El precio es: S/.<span id="fuente_precio">0</span></p>
<p>El stock es: <span id="fuente_stock">0</span></p>

<script type="module">
    document.addEventListener("DOMContentLoaded", () => {
        const fuente = document.getElementById("fuenteSelect");
        const fuenteId = document.getElementById("fuente_id");
        const fuenteNombre = document.getElementById("fuente_nombre");
        const fuentePrecio = document.getElementById("fuente_precio");
        const fuenteStock = document.getElementById("fuente_stock");

        if (
            !fuente ||
            !fuenteId ||
            !fuenteNombre ||
            !fuentePrecio ||
            !fuenteStock
        )
            return;

        fuente.addEventListener("change", (event) => {
            const fuente_id = event.target.value;
            fuenteId.textContent = fuente_id || "Ninguno";

            const selectedOption =
                event.target.options[event.target.selectedIndex];
            const fuente_nombre =
                selectedOption.getAttribute("data-nombre") || "Ninguno";
            const fuente_precio =
                selectedOption.getAttribute("data-precio") || "0";
            const fuente_stock =
                selectedOption.getAttribute("data-stock") || "0";

            fuenteNombre.textContent = fuente_nombre;
            fuentePrecio.textContent = parseFloat(fuente_precio).toFixed(2);
            fuenteStock.textContent = fuente_stock;
        });
        fuenteNombre.textContent = "Ninguno";
        fuentePrecio.textContent = "0";
        fuenteStock.textContent = "0";
    });
</script>
