---
import procesadores from "@data/procesador.json";
---

<div>
    <p>procesador</p>
    <select id="procesadorSelect">
        <option value="">Selecciona una procesador</option>
        {
            procesadores.map((p) => (
                <option
                    value={p.id}
                    data-nombre={p.nombre}
                    data-precio={p.precio}
                    data-stock={p.stockTotal}
                >
                    {p.nombre}
                </option>
            ))
        }
    </select>
</div>

<p>El id es: <span id="procesador_id">Ninguno</span></p>
<p>El nombre es: <span id="procesador_nombre">Ninguno</span></p>
<p>El precio es: S/.<span id="procesador_precio">Ninguno</span></p>
<p>El stock es: <span id="procesador_stock">Ninguno</span></p>

<script type="module">
    document.addEventListener("DOMContentLoaded", () => {
        const procesador = document.getElementById("procesadorSelect");
        const procesadorId = document.getElementById("procesador_id");
        const procesadorNombre = document.getElementById("procesador_nombre");
        const procesadorPrecio = document.getElementById("procesador_precio");
        const procesadorStock = document.getElementById("procesador_stock");

        if (
            !procesador ||
            !procesadorId ||
            !procesadorNombre ||
            !procesadorPrecio ||
            !procesadorStock
        )
            return;

        procesador.addEventListener("change", (event) => {
            const procesador_id = event.target.value;
            procesadorId.textContent = procesador_id || "Ninguno";

            const selectedOption =
                event.target.options[event.target.selectedIndex];
            const procesador_nombre =
                selectedOption.getAttribute("data-nombre") || "Ninguno";
            const procesador_precio =
                selectedOption.getAttribute("data-precio") || "0";
            const procesador_stock =
                selectedOption.getAttribute("data-stock") || "0";

            procesadorNombre.textContent = procesador_nombre;
            procesadorPrecio.textContent =
                parseFloat(procesador_precio).toFixed(2);
            procesadorStock.textContent = procesador_stock;
        });
        procesadorNombre.textContent = "Ninguno";
        procesadorPrecio.textContent = "0";
        procesadorStock.textContent = "0";
    });
</script>
