---
import procesadores from "@data/procesador.json";
import placas from "@data/placa.json";
---

<div>
    <p>Procesador</p>
    <select id="procesadorSelect">
        <option value="">Selecciona un procesador</option>
        {
            procesadores.map((p) => (
                <option
                    value={p.id}
                    data-nombre={p.nombre}
                    data-precio={p.precio}
                    data-stock={p.stockTotal}
                    data-placasCompatibles={p.placasCompatibles.join(",")}
                >
                    {p.nombre}
                </option>
            ))
        }
    </select>
</div>
<p>El id es: <span id="procesador_id">Ninguno</span></p>
<p>El nombre es: <span id="procesador_nombre">Ninguno</span></p>
<p>El precio es: S/.<span id="procesador_precio">0</span></p>
<p>El stock es: <span id="procesador_stock">0</span></p>

<div>
    <p>Placa</p>
    <select id="placaSelect">
        <option value="">Selecciona una placa</option>
        {
            placas.map((p) => (
                <option
                    value={p.id}
                    data-nombre={p.nombre}
                    data-precio={p.precio}
                    data-stock={p.stockTotal}
                >
                    {p.nombre}
                </option>
            ))
        }
    </select>
</div>

<p>El id es: <span id="placa_id">Ninguno</span></p>
<p>El nombre es: <span id="placa_nombre">Ninguno</span></p>
<p>El precio es: S/.<span id="placa_precio">0</span></p>
<p>El stock es: <span id="placa_stock">0</span></p>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const procesador = document.getElementById(
            "procesadorSelect",
        ) as HTMLSelectElement;
        const procesadorId = document.getElementById(
            "procesador_id",
        ) as HTMLSpanElement;
        const procesadorNombre = document.getElementById(
            "procesador_nombre",
        ) as HTMLSpanElement;
        const procesadorPrecio = document.getElementById(
            "procesador_precio",
        ) as HTMLSpanElement;
        const procesadorStock = document.getElementById(
            "procesador_stock",
        ) as HTMLSpanElement;

        const placaSelect = document.getElementById(
            "placaSelect",
        ) as HTMLSelectElement;
        const placaId = document.getElementById("placa_id") as HTMLSpanElement;
        const placaNombre = document.getElementById(
            "placa_nombre",
        ) as HTMLSpanElement;
        const placaPrecio = document.getElementById(
            "placa_precio",
        ) as HTMLSpanElement;
        const placaStock = document.getElementById(
            "placa_stock",
        ) as HTMLSpanElement;

        if (
            !procesador ||
            !procesadorId ||
            !procesadorNombre ||
            !procesadorPrecio ||
            !procesadorStock ||
            !placaSelect ||
            !placaId ||
            !placaNombre ||
            !placaPrecio ||
            !placaStock
        )
            return;

        procesador.addEventListener("change", (event) => {
            const target = event.target as HTMLSelectElement;
            const procesador_id = target.value;
            procesadorId.textContent = procesador_id || "Ninguno";

            const selectedOption = target.options[target.selectedIndex];
            const procesador_nombre =
                selectedOption.getAttribute("data-nombre") || "Ninguno";
            const procesador_precio =
                selectedOption.getAttribute("data-precio") || "0";
            const procesador_stock =
                selectedOption.getAttribute("data-stock") || "0";
            const placasCompatiblesIds = (
                selectedOption.getAttribute("data-placasCompatibles") || ""
            ).split(",");

            procesadorNombre.textContent = procesador_nombre;
            procesadorPrecio.textContent =
                parseFloat(procesador_precio).toFixed(2);
            procesadorStock.textContent = procesador_stock;

            Array.from(placaSelect.options).forEach((option) => {
                if (placasCompatiblesIds.includes(option.value)) {
                    option.style.display = "block";
                } else {
                    option.style.display = "none";
                }
            });

            placaSelect.value = "";
            placaId.textContent = "Ninguno";
            placaNombre.textContent = "Ninguno";
            placaPrecio.textContent = "0";
            placaStock.textContent = "0";
        });

        placaSelect.addEventListener("change", (event) => {
            const target = event.target as HTMLSelectElement;
            const placa_id = target.value;
            placaId.textContent = placa_id || "Ninguno";

            const selectedOption = target.options[target.selectedIndex];
            const placa_nombre =
                selectedOption.getAttribute("data-nombre") || "Ninguno";
            const placa_precio =
                selectedOption.getAttribute("data-precio") || "0";
            const placa_stock =
                selectedOption.getAttribute("data-stock") || "0";

            placaNombre.textContent = placa_nombre;
            placaPrecio.textContent = parseFloat(placa_precio).toFixed(2);
            placaStock.textContent = placa_stock;
        });
    });
</script>
